alembic
asyncio
asyncpg
bcrypt==4.0.1
pillow==10.3.0
colorama
email-validator
fastapi
python-multipart
httpx
isort
loguru
mypy
passlib
pathlib
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
SQLAlchemy==2.0.0b3
uvicorn
