alembic
asyncio
asyncpg
bcrypt
colorama
email-validator
fastapi
httpx
isort
loguru
mypy
passlib
pathlib
python-dotenv
python-decouple
python-jose
python-slugify
pytest
pytest-asyncio
pytest-cov
pytest-xdist
SQLAlchemy==2.0.0b3
uvicorn
